---
layout: default
---
<div class="row">
  <div id="homeid" class="col-sm-8">
    {{ content }}
  </div>

  <div id="newsid" class="col-sm-4" >
    <h3>Source codes</h3>
    {% include products.html %}

    <h3>News (Twitter)</h3>
     <p>If the News cannot be seen here. Please kindly visit my Twitter <a href="https://x.com/YangHu_Ivy"<a>@menakarevel</a>.</p> 
     <a class="twitter-timeline" data-tweet-limit="8" data-link-color="#007bff" href="https://x.com/YangHu_Ivy" data-chrome=”noheader” data-chrome="nodate">
      Tweets by Yang Hu
     </a>
     <script async src="https://platform.x.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
